<h1>You should see artists here</h1>
<h2>{{artist}}</h2>
<div class="cards-container">
   {{#each artists}}
  <h1>{{this.name}}</h1>
<img src="{{this.images.[0].url}}" alt="">
<a href="/albums/{{this.id}}"> Albums</a>
 
  {{/each}}
</div> 