<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify APP - by Jason Simms</title>
</head>
<body>
   <h1>HomePage</h1> 
   <form action="/artists" method="get">
        <label for="artist">ArtistSearch</label>
        <input type="String" name="artist" placeholder='artist' id="artist">
    {{{body}}}
</body>
</html>